{% block sidebar%}


  <!-- Sidebar -->
  <ul class="list-group">
    <li class="list-group-item">
      <!-- avatar -->
    <img src="/static/images/stock.jpg" class="rounded float-left mr-3" alt="Dashboard Avatar" width="50px" height="30px">
    <!-- heading -->
    <h3>Mohamed</h3>
    </li>
    <a href="/dashboard"><li class="list-group-item">Dashboard</li></a>
    <a href="/inventories"><li class="list-group-item">Inventories</li></a>
    <a href="/sales"><li class="list-group-item">Sales</li></a>
    <a href="/stock"><li class="list-group-item">Stock</li></a>
    <a href="/users"><li class="list-group-item">Users</li></a>
  </ul>

<!-- sidebar end -->

{% endblock %}