{% extends "base.html" %}

{% block title %} Users {% endblock %}

{% block content %}
    <!-- main container -->
    <div class="container mt-5">
        <div class="row">
          <div class="col-3" >
            <!-- Sidebar -->
            {% include "sidebar.html" %}
          </div>
          <!-- side bar end -->
          <!-- page content START -->
          <div class="col-md-9 col-sm-6 p-4" >
            {{ error }}
             <div>
             <!-- Pop In button -->
        
                  <button type="button" class="btn btn-primary mb-3 push" data-toggle="modal" data-target="#modal-block-popin" style="margin-left: 300px;">Add User</button>
              
          
          <!-- END Pop In button -->
          <!-- Pop In Block Modal -->
        <div class="modal fade" id="modal-block-popin" tabindex="-1" role="dialog" aria-labelledby="modal-block-popin" aria-hidden="true">
          <div class="modal-dialog modal-dialog-popin" role="document">
              <div class="modal-content" style="padding: 10px;">
                  <div class="block block-rounded block-themed block-transparent mb-0">
                      <div class="block-header bg-primary-dark">
                          <h3 class="block-title">User Information</h3>
                          <div class="block-options">
                              
                          </div>
                      </div>
                      <div class="block-content font-size-sm">
                         <form action="add_user" method="POST">
                           <div class="form-group">
                             <label for="textform">First Name</label>
                           <input type="text" class="form-control" name="f_name" placeholder="first name" value="">
                            </div>
                            <div class="form-group">
                              <label for="textform">Last Name</label>
                            <input type="text" class="form-control" name="l_name" placeholder="last name" value="">
                             </div>
                             <div class="form-group">
                              <label for="textform">Email </label>
                            <input type="text" class="form-control" name="email" placeholder="email" value="">
                             </div>
                             <div class="form-group">
                              <label for="textform">Password </label>
                            <input type="password" class="form-control" name="password" placeholder="password" value="">
                             </div>
                             <div class="form-group">
                              <label for="textform">Confirm Password</label>
                            <input type="password" class="form-control" name="confirm_password" placeholder="confirm password" value="">
                             </div>
                             <button type="submit" class="btn btn-primary">Submit</button>
                         </form>
                      </div>
                      <div class="block-content block-content-full text-right border-top">
                          <button type="button" class="btn btn-alt-primary mr-1" data-dismiss="modal">Close</button>
                          
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- END Pop In Block Modal -->
        </div>
        
            
            <div class="row">
              <table class="table table-bordered table-striped table-vcenter js-dataTable-full">
                <thead>
                    <tr>
                        <th class="text-center" style="width: 80px;">ID</th>
                        <th>First Name</th>
                        <th class="d-none d-sm-table-cell" style="width: 30%;">Last Name</th>
                        <th class="d-none d-sm-table-cell" style="width: 15%;">Email</th>
                        <th style="width: 15%;">Registered</th>
                    </tr>
                </thead>
                <tbody>
                  {% for user in all_users %}
                    <tr>
                        <td class="text-center font-size-sm">{{user.id}}</td>
                        <td class="font-w600 font-size-sm">
                            <a href="be_pages_generic_blank.html">{{user.first_name}}</a>
                        </td>
                        <td class="d-none d-sm-table-cell font-size-sm">
                            <em class="text-muted">{{user.last_name}}</em>
                        </td>
                        <td class="d-none d-sm-table-cell">
                            <span class="badge badge-primary">{{user.email}}</span>
                        </td>
                        <td>
                            <em class="text-muted font-size-sm">2 days ago</em>
                        </td>
                    </tr>
                    {% endfor %}
                  </tbody>

              </table>
            
  
            </div>
            
          </div>
          <!-- page content END -->
        </div>
      </div>
      {% endblock %}